
$icon-E-mail_Icon: "\EA01" !default;

$icon-Lock_Icon: "\EA02" !default;

$icon-back_icon: "\EA03" !default;

$icon-facebook_logo: "\EA04" !default;

$icon-forward_icon: "\EA05" !default;

$icon-open_icon: "\EA06" !default;

$icon-twitter_logo: "\EA07" !default;
