$main-color1:             rgba(243, 129,129, 0.8);
$main-color2:             rgba(252,227,138, 0.8);

$header-text-color:       #ffffff;
$main-text-color:         #333333;
$secondary-text-color:    #cccccc;

$effect-color:            #95e1d3;

$time:                    0.3s;