
$icon-Keyboard: "\EA01" !default;

$icon-brush: "\EA02" !default;

$icon-forward: "\EA03" !default;

$icon-menu: "\EA04" !default;

$icon-pencil: "\EA05" !default;

$icon-search: "\EA06" !default;
