
$icon-alarm: "\EA01" !default;

$icon-arrow: "\EA02" !default;

$icon-book: "\EA03" !default;

$icon-bullseye: "\EA04" !default;

$icon-cite: "\EA05" !default;

$icon-computer: "\EA06" !default;

$icon-dribbble: "\EA07" !default;

$icon-equalizer: "\EA08" !default;

$icon-facebook: "\EA09" !default;

$icon-google-plus: "\EA0A" !default;

$icon-graph: "\EA0B" !default;

$icon-home: "\EA0C" !default;

$icon-instagram: "\EA0D" !default;

$icon-landscape: "\EA0E" !default;

$icon-persons: "\EA0F" !default;

$icon-pin: "\EA10" !default;

$icon-pinterest: "\EA11" !default;

$icon-search: "\EA12" !default;

$icon-shopp: "\EA13" !default;

$icon-speech-buble: "\EA14" !default;

$icon-square: "\EA15" !default;

$icon-tumblr: "\EA16" !default;

$icon-twitter: "\EA17" !default;

$icon-views: "\EA18" !default;

$icon-youtube: "\EA19" !default;
