
$icon-dribble: "\EA01" !default;

$icon-e-mail: "\EA02" !default;

$icon-facebook: "\EA03" !default;

$icon-forward: "\EA04" !default;

$icon-google: "\EA05" !default;

$icon-linkedin: "\EA06" !default;

$icon-twitter: "\EA07" !default;

$icon-vimeo: "\EA08" !default;
